/* .list li:last-child a {
color: brown;
}

.list li:first-child a {
    color: orange;
    } */

    /* .list li:nth-child(3) a {
        color: blueviolet;
    } */

    /* .list a:hover {
        color: brown;
    } */

    /* .list li:not(.not-exmpl) a {
        color: orange; 
    } */
    .list {
        list-style: none;
    }

    .list li::before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        background-color: black;
        margin-right: 10px;
    }
